



<form class="podcast-form" action="/podcasts" method="post">
  <label for="podcastName">New Podcast:
    <input type="text" id="podcastName" name="podcastName">
  </label>

  <input type="submit">
</form>
